.chat-list {
  border-right: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  float: left;
}

.chat-user {
  text-align: start;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.chat-user:hover {
  background-color: #f0f0f0;
}

.chat-user.active {
  background-color: #f4e8f8;
}

.chat-window {
  margin-left: 210px;
  padding: 10px;
}

.btn-primary {
  background-color: #f4e8f8;
  ;
}

.message-field {
  min-width: 500px
}

.message-field {
  display: flex;
  align-items: center;
  position: relative;
}

.emoji-wrapper {
  position: relative;
}

.emoji-btn {
  font-size: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.emoji-picker-container {
  position: absolute;
  bottom: 45px;   /* 👈 opens UP */
  left: 0;
  z-index: 1000;
}
